Header set Access-Control-Allow-Origin "*"

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^products$ projects/scandiweb-jnr-developer-task/backend/products [L]

RewriteRule . index.php
