@import "~bootstrap/scss/bootstrap";

* {
  transition-duration: 300ms;
  margin: 0;
  padding: 0;
}

.row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-nav {
  padding: 0 1rem 0 1rem;
}

html {
  body {
    a {
      text-decoration: none;
      color: white;
    }

    nav {
      .container-fluid {
        .brand {
          :hover {
            color: lightgray !important;
          }
        }

        .btn {
          margin: 0px 3px 3px 0px;
        }
        .navbar {
          padding: 0;
        }
        
      }
    }


    footer {
      border-top: 1px solid lightgray;
    }
  }
}
